node_modules/
client/node_modules/
server/node_modules/

dist/
client/dist/
server/dist/

.env
.env.*
!.env.example

*.db
*.db-journal
server/prisma/*.db
server/prisma/*.db-journal

*.tsbuildinfo

.vscode/
.DS_Store
